.App {
  text-align: center;
}

.pageTitle {
  font-size: 4em;
}

.pageTitleDetail {
  font-size: 4em;
}

.siteDescripter {
  font-size: 2.8em;
}

.navLinks {
  text-decoration: none;
}

.eventTable {
  border-radius: 10px;
}

.eventDetailsTop {
  /* background-image: url('../src/assets/banner.jpg'); */
  background-size: 1320px 200px;
  border-radius: 30px;
  border-bottom: 10px solid rgb(49, 108, 236);
  margin: 0 0 10px 0;
}

.removeTextDecoration {
  text-decoration: none;
  color: white;
}

.inlineBlock {
  display: inline-block;
}

.eventDetailLabels {
  font-size: 1.5em;
}

.eventDescriptionBox {
  border: 2px solid black;
  max-height: 8em;
  overflow-y: auto;
}



.featuredEventsBox {
  /* border: 2px solid black; */
  border-radius: 20px;
  padding: 5px;
  background-image: linear-gradient(
  105deg,
  hsl(240deg 100% 20%) 0%,
  hsl(223deg 100% 27%) 21%,
  hsl(215deg 100% 33%) 35%,
  hsl(209deg 100% 35%) 47%,
  hsl(201deg 100% 35%) 58%,
  hsl(190deg 100% 33%) 68%,
  hsl(175deg 100% 32%) 78%,
  hsl(161deg 100% 36%) 89%,
  hsl(149deg 100% 39%) 100%
);
}

.whiteText {
  color: white;
}

.location {
  border-radius: 20px;
  background-image: linear-gradient(
  105deg,
  hsl(240deg 100% 20%) 0%,
  hsl(223deg 100% 27%) 21%,
  hsl(215deg 100% 33%) 35%,
  hsl(209deg 100% 35%) 47%,
  hsl(201deg 100% 35%) 58%,
  hsl(190deg 100% 33%) 68%,
  hsl(175deg 100% 32%) 78%,
  hsl(161deg 100% 36%) 89%,
  hsl(149deg 100% 39%) 100%
);
  /* background-image: linear-gradient(
  105deg,
  hsl(240deg 100% 20%) 0%,
  hsl(224deg 100% 25%) 21%,
  hsl(216deg 100% 30%) 35%,
  hsl(210deg 100% 33%) 47%,
  hsl(204deg 100% 35%) 58%,
  hsl(198deg 100% 37%) 68%,
  hsl(192deg 100% 37%) 78%,
  hsl(186deg 100% 38%) 89%,
  hsl(180deg 99% 38%) 100%
); */
}

.eventHeaders {
  font-size: 2em;
}

#gameDayNav {
  font-size: 2.5em;
  color: white;
}

.commentsBox {
  border: 5px solid rgb(49, 108, 236);
  border-radius: 5px;
  height: 200px;
  overflow-y: auto;
  scrollbar-track-color: rgb(49, 108, 236);
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.blue {
  color: blue;
}

.commentsBox::-webkit-scrollbar {
  width: 30px;            
}

.commentsBox::-webkit-scrollbar-track {
  background: rgb(49, 108, 236);      /* color of the tracking area */
}

.commentsBox::-webkit-scrollbar-thumb {
  background-color: white;   
  border-radius: 10px;
  border: 5px solid rgb(49, 108, 236);  /* creates padding around scroll thumb */
}

.thisComment {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}


/* ===== Buttons Css ===== */
.primary-btn {
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--shadow-2);
}
.active.primary-btn, .primary-btn:hover, .primary-btn:focus {
  background: var(--primary-dark);
  color: var(--white);
  box-shadow: var(--shadow-4);
}
.deactive.primary-btn {
  background: var(--gray-4);
  color: var(--dark-3);
  pointer-events: none;
}

.primary-btn-outline {
  border-color: var(--primary);
  color: var(--primary);
}
.active.primary-btn-outline, .primary-btn-outline:hover, .primary-btn-outline:focus {
  background: var(--primary-dark);
  /* color: var(--white); */
}
.deactive.primary-btn-outline {
  color: var(--dark-3);
  border-color: var(--gray-4);
  pointer-events: none;
}

/*===== MY NAVBAR ONE =====*/
.navbar-one {
  background: var(--primary);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one {
    padding: 20px 0;
  }
}
.navbar-one .navbar {
  position: relative;
  padding: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-collapse {
    position: absolute;
    top: 140%;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    z-index: 8;
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
  }
}
.navbar-one .navbar .navbar-nav .nav-item {
  margin: 0 5px;
  position: relative;
}
.navbar-one .navbar .navbar-nav .nav-item a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 28px 15px;
  color: var(--white);
  text-transform: capitalize;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-one .navbar .navbar-nav .nav-item a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-one .navbar .navbar-nav .nav-item a.active::before {
  opacity: 0.1;
  visibility: visible;
  width: 100%;
}
.navbar-one .navbar .navbar-nav .nav-item a:hover::before {
  opacity: 0.1;
  visibility: visible;
  width: 100%;
}
.navbar-one .navbar .navbar-nav .nav-item a i {
  font-weight: 700;
  padding-left: 8px;
  font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item a {
    padding: 10px 10px;
    display: block;
  }
  .navbar-one .navbar .navbar-nav .nav-item a::before {
    border-radius: 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item {
    margin-bottom: 5px;
  }
  .navbar-one .navbar .navbar-nav .nav-item:last-child {
    margin-bottom: 0;
  }
}
.navbar-one .navbar .navbar-nav .nav-item .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 260px;
  background-color: var(--white);
  box-shadow: var(--shadow-4);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 99;
  padding: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu {
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    top: auto !important;
    opacity: 1 !important;
    visibility: visible !important;
    right: auto;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all none ease-out 0s;
    -moz-transition: all none ease-out 0s;
    -ms-transition: all none ease-out 0s;
    -o-transition: all none ease-out 0s;
    transition: all none ease-out 0s;
    box-shadow: none;
    text-align: left;
    border-top: 0;
    height: 0;
  }
}
.navbar-one .navbar .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
  height: auto;
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
    height: 0;
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu.show {
    height: auto;
  }
}
.navbar-one .navbar .navbar-nav .nav-item .sub-menu li {
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a {
    border-radius: 5px !important;
  }
}
.navbar-one .navbar .navbar-nav .nav-item .sub-menu li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  font-weight: 500;
  position: relative;
  color: var(--dark);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 5;
  text-transform: capitalize;
  border-radius: 5px;
}
.navbar-one .navbar .navbar-nav .nav-item .sub-menu li a:hover {
  background-color: var(--primary);
  color: var(--white);
}
.navbar-one .navbar .navbar-nav .nav-item .sub-menu li a::before {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a:hover {
    background-color: var(--primary-dark);
    color: var(--white);
  }
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a i {
    color: var(--primary-dark);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a:hover i {
    color: var(--white);
  }
}
.navbar-one .navbar .navbar-nav .nav-item .sub-menu li a i {
  font-size: 14px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a i {
    display: none;
  }
}
.navbar-one .navbar .navbar-nav .nav-item .sub-menu li a .sub-nav-toggler i {
  display: inline-block;
}
.navbar-one .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
  right: auto;
  left: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
    padding-left: 30px;
    height: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item .sub-menu li .sub-menu.show {
    visibility: visible;
    height: auto;
    position: relative;
  }
}
.navbar-one .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.navbar-one .navbar .navbar-nav .nav-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-one .navbar .navbar-nav .nav-item .sub-nav-toggler {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 14px;
    font-size: 16px;
    background: none;
    border: 0;
    color: var(--white);
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-one .navbar .navbar-btn {
    position: absolute;
    right: 70px;
    top: 3px;
  }
}
@media (max-width: 767px) {
  .navbar-one .navbar .navbar-btn {
    position: absolute;
    right: 60px;
    top: 3px;
  }
}
.navbar-one .navbar .navbar-btn ul {
  display: flex;
}
.navbar-one .navbar .navbar-btn ul li {
  display: inline-block;
  margin-right: 12px;
}
.navbar-one .navbar .navbar-btn ul li button {
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0;
}
.navbar-one .navbar .navbar-btn ul li button.primary-btn-outline {
  border-color: var(--white);
  color: var(--white);
}
.navbar-one .navbar .navbar-btn ul li button.primary-btn-outline:hover {
  background-color: var(--white);
  color: var(--primary);
}
.navbar-one .navbar .navbar-btn ul li button.primary-btn {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--white);
}
.navbar-one .navbar .navbar-btn ul li button.primary-btn:hover {
  background-color: transparent;
  color: var(--white);
}


/* ===========================
  Section Title Four CSS
=========================== */
.section-title-four {
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
  margin-top: 12px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-four {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .section-title-four {
    margin-bottom: 35px;
  }
}
.section-title-four span {
  text-transform: uppercase;
  color: var(--primary);
  display: inline-block;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .section-title-four span {
    margin-bottom: 15px;
  }
}
.section-title-four h2 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-four h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .section-title-four h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
.section-title-four h3 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: var(--gray-3);
  z-index: -1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--gray-3);
  opacity: 0.5;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-four h3 {
    font-size: 3.3rem;
    line-height: 3.5rem;
    top: -18px;
  }
}
@media (max-width: 767px) {
  .section-title-four h3 {
    font-size: 2.7rem;
    line-height: 3.2rem;
    top: -17px;
  }
}
.section-title-four p {
  color: var(--dark-3);
}
