.App {
  text-align: center;
}

.pageTitle {
  font-size: 4em;
}

.pageTitleDetail {
  font-size: 4em;
}

.navLinks {
  text-decoration: none;
}

.eventDetailsTop {
  background-image: url('../src/images/banner.jpg');
  background-size: 1280px 200px;
  border-radius: 10px;
  border-bottom: 2px solid maroon;
}

.eventHeaders {
  font-size: 2em;
}