.App {
  text-align: center;
}

.pageTitle {
  font-size: 4em;
}

.pageTitleDetail {
  font-size: 4em;
}

.navLinks {
  text-decoration: none;
}

.eventTable {
  border-radius: 10px;
}

.eventDetailsTop {
  background-image: url('../src/assets/banner.jpg');
  background-size: 1320px 200px;
  border-radius: 10px;
  border-bottom: 5px solid darkblue;
}

.removeTextDecoration {
  text-decoration: none;
  color: white;
}

.eventDetailLabels {
  font-size: 1.5em;
}

.eventDescriptionBox {
  border: 2px solid black;
  max-height: 8em;
  overflow-y: auto;
}

.featuredEventsBox {
  border: 2px solid black;
}

.eventHeaders {
  font-size: 2em;
}